<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3aYGw6IUZS1TCmOCVxwOqMdHenNnoZz4</string>
	<key>GCM_SENDER_ID</key>
	<string>451469829419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team.codesmith.expresso</string>
	<key>PROJECT_ID</key>
	<string>expresso-app-5b2db</string>
	<key>STORAGE_BUCKET</key>
	<string>expresso-app-5b2db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:451469829419:ios:b834b1bcb87e9facf4916e</string>
</dict>
</plist>
